node_modules/
.next/
.env
*.tsbuildinfo
*.db.bak
firebase-service-account.json
.firebase/
dev.log
firebase-debug.log
firestore-debug.log
*adminsdk*.json
*-firebase-adminsdk-*.json
*serviceAccount*.json
*service-account*
*.bak
